

div, form, p {
    float:left;
    width:100%;
}

.header h3 {
    font-size: 40px;
    text-align:center;
    margin: 0px;
    padding-bottom: 10px;
}

.header h4 {
    font-size: 20px;
    text-align:center;
    margin:0;
    color: #686868 ;
}

div.field {
    float: left;
    width:31%;
    padding: 1%;
}

.add-song {
    width:60%;
    padding-left:20%;
    padding-right:20%;
}

.add-song button {
}

.song_vote_ranking .upvote-div {
    width: 6%;
    padding: 1%;
}

.upvote-div div {
    padding:5px;
}

.song_vote_ranking img {
    width: 100%;
    float:left;
    cursor:pointer;
}

.song_vote_ranking {
    padding :10px;
}

.song_vote_ranking .upvotes {
    height:33%;
    padding-left:33%;
}

.song-info{
    padding-top: 6%;
    width: 92%;
}

.song_vote_ranking .upvotes {
    width: 5%;
    padding: 1% 2% 1% 2%;
}

.song_vote_ranking .title, .song_vote_ranking .artist {
    width: 25%;
    padding: 1% 2% 1% 2%;
}


.add_song_widget {
    padding-top: 50px;
    padding-bottom: 50px;
}

.rankings .ranking {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.song-container {
    padding:5%;
}

.song-container .upvotes {
    width: 5%;
    padding: 1%
}

.song-container .title, .song-container .artist {
    width: 25%;
    padding: 1%;
}