

div, form, p {
    float:left;
    width:100%;
}

body {
    float: left;
    width: 100%;
    margin: 0;
    height: 100%;
}

p, h3, h4 {
    color: white;
    size: 20px;
}

.header h3 {
    font-size: 40px;
    text-align:center;
    margin: 0px;
    padding-bottom: 10px;

}

html {
    margin: 0;
}

.entire-thing {
    background-image: url("/static/background.jpg");
    min-height: 100%;

}

.header h4 {
    font-size: 20px;
    text-align:center;
    margin:0;
}

div.field {
    float: left;
    width:31%;
    padding: 1%;
}

.add-song {
    width:60%;
    padding-left:20%;
    padding-right:20%;
}

.add-song button {
}

.song_vote_ranking .upvote-div {
    width: 6%;
    padding: 1%;
}

.upvote-div div {
    padding:5px;
}

.form-add-song-message {
    text-align: center;
}

.song_vote_ranking img {
    width: 100%;
    float:left;
    cursor:pointer;
}

.song_vote_ranking {
    margin :2%;
    width: 96%;
    background-color:rgba(0, 0, 0, 0.70);
}

.song_vote_ranking .upvotes {
    height:33%;
    padding-left:33%;
}

.song-info{
    padding-top: 5%;
    width: 92%;
}

.song_vote_ranking .upvotes {
    width: 5%;
    padding: 1% 2% 1% 2%;
}

.song_vote_ranking .title, .song_vote_ranking .artist {
    width: 25%;
    padding: 1% 2% 1% 2%;
}


.add_song_widget {
    padding-top: 50px;
    padding-bottom: 50px;
}

.rankings .ranking {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
    max-height: 700px;
}

.song-container {
    margin :2%;
    width: 96%;
    background-color:rgba(0, 0, 0, 0.70);
}

.song-container .upvotes {
    width: 5%;
    padding: 1%
}

.song-container .title, .song-container .artist {
    width: 25%;
    padding: 1%;
}